body {
    text-align: center;
    background-color: #1B1B1B;
    color: #f5f5f7;
}

.image-base {
    position: relative;
    object-fit: contain;
    width: 400px;
    height: 800px;
    max-width: 400px;
    border-radius: 20px;
    background-color: #1f1f1d;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.video-container {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#image-container {
    /* height: 100%;
    width: 100%; */
    /* position: relative; */
    /* background-image: url('https://via.placeholder.com/500x888'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* footer {
    text-align: center;
    margin: 20px 0;
} */

#caption-container {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}

#source-button {
    margin-top: 0.5rem;
}

.reaction-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .reaction-option {
    font-size: 24px;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  